//color var
whiteColor = #fff
redColor = #d8232a
darkColor = #3f444e
//mixin font-family font-weight
AdobeGothicStd-Bold = 'AdobeGothicStd-Bold', sans-serif
Calibri = 'calibri', sans-serif

//max-width container
width-reg = 1131px

// breakpoints
lg-breakpoint = 1199px
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px
