//color var
colorWhite = #efeee9
beige = #eeebdf
main-font-color = #373e42
//mixin font-family font-weight
Roboto-Bold = 'Roboto-Bold', sans-serif
Roboto-Italic = 'Roboto-Italic', sans-serif
Roboto-LightItalic = 'Roboto-LightItalic', sans-serif
Roboto-MediumItalic = 'Roboto-MediumItalic', sans-serif
BERNIERShade-Regular= 'BERNIERShade-Regular', sans-serif
BERNIERRegular-Regular = 'BERNIERRegular-Regular', sans-serif
BERNIERDistressed-Regular = 'BERNIERDistressed-Regular', sans-serif
Roboto-Regular = 'Roboto-Regular', sans-serif
Roboto-Light = 'Roboto-Light', sans-serif

//max-width container
width-reg = 1170px

// breakpoints
lg-breakpoint = 1199px
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px
